$jumbotron-bg: white;
$jumbotron-padding: 0;
$headings-font-family: 'Shadows Into Light Two', cursive;
$font-family-sans-serif: 'Lato', sans-serif;
$font-size-base: 1.5rem;

$nav-link-padding-x: 1.1rem;
$navbar-nav-link-padding-x: $nav-link-padding-x;
$navbar-padding-y: 0;

@import "bootstrap/bootstrap";

html {
  background: #ECE9E0;
}

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 3rem;
  background: transparent;
  @include media-breakpoint-down(sm) {
    font-size: 1.3em;
  }
}

#contentWrapper {
  padding-top: 2em;
  background: white;
  box-shadow: 0 0 2vw rgba(0,0,0, 0.05);
}

.jumbotron {
  padding-bottom: 53px;
  .container {
    min-height: 360px;
    position: relative;
    #book_and_stars,
    .site-info {
      position: absolute;
      bottom: 0;
    }
    #book_and_stars {
      width: 570px;
      right: 0;
    }
    .site-info {
      left: 0;
    }
  }
  h1 {
    font-size: 4rem;
    padding: 0 0 2rem;
    margin: 0;
    a {
      color: $body-color;
      &:hover {
        text-decoration: none;
      }
    }
  }
  p.lead {
    font-family: $headings-font-family;
    font-size: 1em;
    color: rgba(0,0,0, 0.4);
  }
}

@keyframes starPath {
  0%   { transform: translate(192px, -22px)  scale(0.00) rotate(0);      opacity: 0.0; }
  25%  { transform: translate(195px, -55px)  scale(0.03) rotate(180deg); opacity: 1.0; }
  50%  { transform: translate(190px, -140px) scale(0.30) rotate(360deg); }
  75%  { transform: translate(340px, -210px) scale(0.40) rotate(540deg); opacity: 1.0; }
  100% { transform: translate(380px, -290px) scale(0.50) rotate(720deg); opacity: 0.0; }
}

#book_and_stars {
  img {
    max-width: 100%;
  }
  .book {
  }
  .star {
      position: absolute;
      left: 0;
      bottom: 0;
      animation:starPath 4s linear infinite;
      transform-origin: 59.25% 47.32%;

    &.star-1 {
      animation-delay: 0s;
    }

    &.star-2 {
      animation-delay: -1s;
    }

    &.star-3 {
      animation-delay: -2s;
    }

    &.star-4 {
      animation-delay: -3s;
    }
  }
}

body > header {
  position: relative;
}
footer.site-footer {
  background: $gray-100;
  width: 100%;
  padding: 0.25rem 0;
  p:last-child {
    margin-bottom: 0;
  }
}

.navbar {
  background: rgba($dark, 0.1);
  width: 100%;
  transition: all .35s ease;
  font-family: $headings-font-family;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  height: 15rem;
  &.position-fixed {
    top: 0;
    z-index: 10;
    background: rgba(33, 37, 41, 0.8);
    .nav-link {
      color: rgba(255, 255, 255, 0.8);
      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  .nav-link {
    .svg-inline--fa {
      transition: color .35s ease;
    }
    &:hover {
      .fa-home         { color: #579DFB; }
      .fa-address-card { color: #cc66ff; }
      .fa-twitter      { color: #1DA1F2; }
      .fa-instagram    { color: #E4405F; }
    }
  }

  @include media-breakpoint-up(lg) {
    .navbar-nav {
      .nav-link {
        padding-right: 2rem;
        padding-left: 2rem;
      }
    }
  }

  @include media-breakpoint-up(md) {
    padding: 0 80px;
  }
  .navbar-toggler {
    border: none;
    outline: none;
  }

  &.collapsing,
  &.collapse:not(.show) {
    display: block;
    height: 53px;
  }
  &.collapsing,
  &.show {
    background: $dark;
    z-index: 5;
    @extend .navbar-dark;
    .nav-item {
      .nav-link {
        color: $light;
        @include media-breakpoint-down(md) {
          font-size: 1.2rem;
          padding: 0.4rem 0;
        }
      }
    }
  }
}

.about-photo {
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

blockquote, p {
  text-align: justify;
}
