---
layout: wrapped
title: 'Light in the darkness'
---

<p>There will be times, like now, when the world seems to be filled with nothing but bad news. As adults, this can make us feel anxious, or scared about what the future holds. However, we aren’t the only ones exposed to world events.</p>

<img class="float-left col-6 pl-0" src="/assets/images/posts/2020-03-18/hill-and-lightbeam.jpg" alt="Hill and Lightbeam drawing" />
<p>Children are watching and listening. Even if we are lucky enough not to be directly affected, and try to shield them from the news reports, children will overhear adult conversations, or gossip in the playground, or simply be aware that something is ‘not right’.</p>

<p>Whilst we want to protect children, it is vital that we don’t simply pretend that bad things aren’t happening. This will likely make them worry more. Instead, we need to take the time to have age-appropriate conversations with them. These conversations give us the chance to learn what they have heard, to correct any exaggerations or inaccuracies, to encourage them to talk about any concerns or worries, and to answer any questions they may have. By making yourself available, you can ensure that the information they receive is accurate and delivered in a reassuring and age-appropriate way. It also gives you the chance to stop any fears or worries escalating.</p>

<p>For young children, picture books can be really helpful in setting up these conversations, or simply providing reassuring and hopeful bedtime reading to quiet any anxiety they may be feeling.</p>

<p>There are numerous picture books that focus on hope, kindness and love, but a few of our favourites include:</p>

<div class="row row-cols-2 row-cols-md-4">
  {% include blog-book-card.html
    title="Ruby’s Worry"
    subtitle="by Tom Percival"
    href="https://www.bloomsbury.com/uk/rubys-worry-9781408892152/"
    img="/assets/images/posts/2020-03-18/rubys-worry.jpg" %}

  {% include blog-book-card.html
    title="Come With Me"
    subtitle="by Holly M. McGhee, illustrated by Pascal Lemaitre"
    href="https://www.penguinrandomhouse.com/books/554197/come-with-me-by-holly-m-mcghee-illustrated-by-pascal-lemaitre/"
    img="/assets/images/posts/2020-03-18/come-with-me.jpg" %}

  {% include blog-book-card.html
    title="Be Kind"
    subtitle="by Pat Zietlow Miller, illustrated by Jen Hill"
    href="https://www.panmacmillan.com/authors/pat-zietlow-miller/be-kind/9781529041903"
    img="/assets/images/posts/2020-03-18/be-kind.jpg" %}

  {% include blog-book-card.html
    title="Pass It On"
    subtitle="by Sophy Henn"
    href="https://www.penguinrandomhouse.com/books/536141/pass-it-on-by-sophy-henn/"
    img="/assets/images/posts/2020-03-18/pass-it-on.jpg" %}

  {% include blog-book-card.html
    title="Most People"
    subtitle="by Michael Leannah, illustrated by Jennifer E. Morris"
    href="https://www.tilburyhouse.com/product-page/most-people"
    img="/assets/images/posts/2020-03-18/most-people.jpg" %}
</div>

<p>And if you just want a giggleful picture book, here are a few that always make us smile:</p>

<div class="row row-cols-2 row-cols-md-4">
  {% include blog-book-card.html
    title="Poo In the Zoo"
    subtitle="by Steve Smallman, illustrated by Ada Grey"
    href="http://littletiger.co.uk/poo-in-the-zoo-1?filter_name=poo%20in%20the%20zoo&filter_description=0"
    img="/assets/images/posts/2020-03-18/poo-in-the-zoo.jpg" %}

  {% include blog-book-card.html
    title="I Can Only Draw Worms"
    subtitle="by Will Mabbitt"
    href="https://www.penguinrandomhouse.com/books/552675/i-can-only-draw-worms-by-will-mabbitt/"
    img="/assets/images/posts/2020-03-18/i-can-only-draw-worms.jpg" %}

  {% include blog-book-card.html
    title="You Can’t Take An Elephant On The Bus"
    subtitle="by Patricia Cleveland-Peck, illustrated by David Tazzyman"
    href="https://www.bloomsbury.com/uk/you-cant-take-an-elephant-on-the-bus-9781408849828/"
    img="/assets/images/posts/2020-03-18/you-cant-take-an-elephant-on-the-bus.jpg" %}

  {% include blog-book-card.html
    title="The Super Happy Magic Forest"
    subtitle="by Matty Long"
    href="https://global.oup.com/education/product/9780192742957/?region=uk"
    img="/assets/images/posts/2020-03-18/super-happy-magic-forest.jpg" %}
</div>

<p>So, take a moment and share a few happy hopeful picture books. You may even find that you feel better too!</p>
