<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300|Shadows+Into+Light+Two&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/defc5eca7a.js" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#212529">
    <meta name="msapplication-TileColor" content="#eae7dd">
    <meta name="theme-color" content="#eae7dd">
  </head>
  <body>
    <header>
      <div class="jumbotron">
        <div class="container">
          <div id="book_and_stars">
            <picture class="book">
              <source srcset="/assets/images/header-book.webp" type="image/webp">
              <source srcset="/assets/images/header-book.png" type="image/png">
              <img src="/assets/images/header-book.png" alt="Kate's magical books" />
            </picture>

            <picture class="star star-1">
              <source srcset="/assets/images/star1.webp" type="image/webp">
              <source srcset="/assets/images/star1.png" type="image/png">
              <img src="/assets/images/star1.png" alt="Book Star 1" />
            </picture>

            <picture class="star star-2">
              <source srcset="/assets/images/star1.webp" type="image/webp">
              <source srcset="/assets/images/star1.png" type="image/png">
              <img src="/assets/images/star1.png" alt="Book Star 1" />
            </picture>

            <picture class="star star-3">
              <source srcset="/assets/images/star1.webp" type="image/webp">
              <source srcset="/assets/images/star1.png" type="image/png">
              <img src="/assets/images/star1.png" alt="Book Star 1" />
            </picture>

            <picture class="star star-4">
              <source srcset="/assets/images/star1.webp" type="image/webp">
              <source srcset="/assets/images/star1.png" type="image/png">
              <img src="/assets/images/star1.png" alt="Book Star 1" />
            </picture>
          </div>
          <div class="site-info">
            <h1><a href="/">Kate Thompson</a></h1>
            <p class="lead">Picture Book Author</p>
          </div>
        </div>
      </div>

      <nav class="navbar navbar-expand-md navbar-light collapse" id="navbarSupportedContent">
        <div class="container">
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="navbar-collapse">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ '/' | relative_url }}">
                  <i class="fas fa-home"></i> Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ '/about.html' | relative_url }}">
                  <i class="far fa-address-card"></i> About Me
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/writes_kate">
                  <i class="fab fa-twitter"></i> Twitter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.instagram.com/katethompsonwrites/">
                  <i class="fab fa-instagram"></i> Instagram
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <section class="container" id="contentWrapper">
      {{ content }}

      <div class="row">
      <footer class="site-footer">
        <p class="container text-right text-muted"><small>Copyright Kate Thompson {{ 'now' | date: "%Y" }}</small></p>
      </footer>
    </section>

    <script type="text/javascript">
      var contentSection = document.getElementById('contentWrapper');
      var navBar = document.getElementById('navbarSupportedContent');
      window.addEventListener('scroll', function() {
        if (window.scrollY > (contentSection.offsetTop - navBar.offsetHeight)) {
          if (!navBar.classList.contains('position-fixed')) {
            navBar.classList.add('position-fixed');
          }
        }
        else {
          if (navBar.classList.contains('position-fixed')) {
            navBar.classList.remove('position-fixed');
          }
        }
      });
    </script>

    <script src="{{ '/assets/js/jquery-3.4.1.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/bootstrap/bootstrap.bundle.min.js' | relative_url }}"></script>
  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>